@import "pages/contact.css";
@import "pages/home.css";
@import "pages/visie.css";
@import "pages/diensten.css";
@import "pages/werknemers.css";
@import "utilities.css";
@import "partials/footer.css";
:root {
  --primary-color: #cab37f;
  --secondary-color: #ee7919;
  --brown-color: #72382c;
  --background-color: #ffffff;
  --text-color: #000000;
  --font-family: "Rubik", sans-serif;
  --font-size-base: 16px;
}

.small-btn {
  border-radius: 1rem;
  background-color: var(--secondary-color);
  border: none;
  color: white;
  padding: 0.5rem 1.5rem;
}
