{% set siteSettings = craft.globalSets()
    .handle('siteInstellingen')
    .one() %}

{% if siteSettings and siteSettings.siteLogo|length %}
  {% set logo = siteSettings.siteLogo.one() %}
  <a href="{{ siteUrl }}">
    <img src="{{ logo.url }}" alt="Logo {{ siteName }}">
    

  </a>
{% endif %}
