{% extends "base/base.twig" %}

{% block content %}
	<h1>Residentiële ouderenzorg</h1>
	{% set items = craft.entries().section('ouderenZorg').orderBy('postDate desc').all() %}
	<ul>
		{% for e in items %}
			<li>
				<a href="{{ e.getUrl() }}">{{ e.title }}</a>
			</li>
		{% else %}
			<li>Geen pagina’s.</li>
		{% endfor %}
	</ul>
{% endblock %}
